---
import { getLangFromUrl, useTranslations } from "../lang/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { img, title, empresa, date, description, link } = Astro.props;
---

<section class="flex flex-row gap-5 w-3/5 mx-auto">
    <img class="w-52 h-52 rounded-full" src={img} />
    <div class="flex flex-col font-bold">
        <h2 class="text-3xl text-blue-600">{t(title)}</h2>
        <h3 class="text-lg text-white">{t(empresa)}</h3>
        <h4 class="text-lg text-gray-700">{t(date)}</h4>
        <p class="font-normal text-base text-white">{t(description)}</p>
        {
            link && (
                <a
                    class="text-lg text-sky-400 hover:text-sky-100 mt-3"
                    href={link}
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Link
                </a>
            )
        }
    </div>
</section>
