---
import Text from "./Text";
const { img, title, empresa, date, description, link } = Astro.props;
---

<section class="exp__section">
    <img src={img} />
    <div class="exp__text">
        <Text client:visible type="h2" className="primary" id={title} />
        <Text client:visible type="h3" id={empresa} />
        <Text client:visible type="h4" className="secondary" id={date} />
        <Text client:visible type="p" id={description} />
        {
            link && (
                <a href={link} target="_blank" rel="noopener noreferrer">
                    Link
                </a>
            )
        }
    </div>
</section>

<style>
    .exp__section {
        width: 60%;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
        padding: 20px;
        gap: 20px;
    }

    .exp__section div {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .exp__section img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        align-self: center;
    }

    .exp__section h2 {
        margin: 10px 0 10px 0;
    }

    .exp__section h3 {
        margin: 0 0 5px 0;
    }

    a {
        text-decoration: none;
        color: rgb(87, 191, 255);
        font-size: 1.2rem;
        font-weight: bold;
        transition: color 100ms ease;
        margin-top: 10px;
    }

    a:hover {
        color: rgb(255, 255, 255);
    }

    /* breakpoint between 550px and 800px */
    @media (max-width: 1000px) {
        .exp__section {
            width: 90%;
            flex-direction: column;
        }

        .exp__section img {
            flex: 1;
        }

        .exp__text {
            gap: 10px;
        }
    }
</style>
