---
import Card from "./Card.astro";
import Text from "./Text";
import { IconBrandHtml5 } from "@tabler/icons-react";
import { IconBrandJavascript } from "@tabler/icons-react";
import { IconBrandTypescript } from "@tabler/icons-react";
import { IconBrandCss3 } from "@tabler/icons-react";
import { IconBrandReact } from "@tabler/icons-react";
import { IconBrandNodejs } from "@tabler/icons-react";
import { IconBrandGithubFilled } from "@tabler/icons-react";
import { IconSql } from "@tabler/icons-react";
import Icon from "astro-icon";
const { img, title, icons, link } = Astro.props;

let ICONS: {
    [key: string]: {
        item: (arg0: any) => JSX.Element;
        size: number;
        color: string;
        title: string;
        name?: string;
    };
} = {
    html: {
        item: IconBrandHtml5,
        size: 40,
        color: "#FE4C1E50",
        title: "HTML",
    },
    js: {
        item: IconBrandJavascript,
        size: 40,
        color: "#EFD81D50",
        title: "Javascript",
    },
    ts: {
        item: IconBrandTypescript,
        size: 40,
        color: "#2F74C050",
        title: "Typescript",
    },
    css: {
        item: IconBrandCss3,
        size: 40,
        color: "#254BDD50",
        title: "CSS",
    },
    react: {
        item: IconBrandReact,
        size: 40,
        color: "#149ECA50",
        title: "React",
    },
    node: {
        item: IconBrandNodejs,
        size: 40,
        color: "#4C994350",
        title: "NodeJS",
    },
    github: {
        item: IconBrandGithubFilled,
        size: 40,
        color: "#00000050",
        title: "Github",
    },
    sql: {
        item: IconSql,
        size: 40,
        color: "#D4713150",
        title: "SQL",
    },
    tauri: {
        item: Icon,

        size: 30,
        color: "#23C2D450",
        title: "Tauri",
        name: "tauri",
    },
    astro: {
        item: Icon,

        size: 30,
        color: "#F7590150",
        title: "Astro",
        name: "astro",
    },
    capacitor: {
        item: Icon,

        size: 30,
        color: "#F7590150",
        title: "Capacitor",
        name: "capacitor",
    },
};
---

<section class="proj__section" id={"projects." + title}>
    <Card>
        <img src={img} />
        <div class="proj__tecnologies">
            {
                icons.map((aux: string) => {
                    if (ICONS[aux].item === Icon) {
                        return (
                            <Icon
                                name={ICONS[aux].name}
                                size={ICONS[aux].size}
                                color="white"
                            />
                        );
                    } else {
                        const IconComponent = ICONS[aux].item;
                        return (
                            <IconComponent
                                size={ICONS[aux].size}
                                color="white"
                            />
                        );
                    }
                })
            }
        </div>
        <Text client:visible type="h4" id={title} />
    </Card>
</section>

<script define:vars={{ title, link }}>
    const section = document.getElementById("projects." + title);

    section.addEventListener("click", () => {
        window.location.href = link;
    });
</script>

<style>
    .proj__section {
        width: 400px;
        padding: 20px;
        gap: 20px;
        cursor: pointer;
    }

    .proj__section:hover {
        transform: scale(1.05);
        transition: transform 100ms ease;
        filter: saturate(1.5);
    }

    .proj__tecnologies {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .proj__section img {
        width: 100%;
        /* height: 200px; */
        border-radius: 10px;
        object-fit: cover;
        align-self: center;
        margin-bottom: 10px;
    }

    @media (max-width: 600px) {
        .proj__section {
            width: 90%;
        }
    }
</style>
