---
import { IconBrandTypescript } from "@tabler/icons-react";
import { IconBrandCss3 } from "@tabler/icons-react";
import { IconSql } from "@tabler/icons-react";
import { IconBrandGithub } from "@tabler/icons-react";
import { IconBrandJavascript } from "@tabler/icons-react";
import {
    IconBrandHtml5,
    IconBrandNodejs,
    IconBrandReact,
} from "@tabler/icons-react";
import Icon from "astro-icon";

// let icons = [
//     `<IconBrandHtml5 />`,
//     `<IconBrandJavascript />`,
//     `<IconBrandTypescript />`,
//     `<IconBrandCss3 />`,
//     `<IconBrandReact />`,
//     `<IconBrandNodejs />`,
//     `<IconBrandGithubFilled />`,
//     `<IconSql />`,
//     // () => <Icon name="tauri" />,
//     // () => <Icon name="astro" />,
// ].map((item) => {
//     console.log(`<div class="tech__item">${item}</div>`);
//     return `<div class="tech__item">${item}</div>`;
// });

let icons = [
    {
        item: IconBrandHtml5,
        size: 100,
        color: "#FE4C1E50",
        title: "HTML",
    },
    {
        item: IconBrandJavascript,
        size: 100,
        color: "#EFD81D50",
        title: "Javascript",
    },
    {
        item: IconBrandTypescript,
        size: 100,
        color: "#2F74C050",
        title: "Typescript",
    },
    {
        item: IconBrandCss3,
        size: 100,
        color: "#254BDD50",
        title: "CSS",
    },
    {
        item: IconBrandReact,
        size: 100,
        color: "#149ECA50",
        title: "React",
    },
    {
        item: IconBrandNodejs,
        size: 100,
        color: "#4C994350",
        title: "NodeJS",
    },
    {
        item: IconBrandGithub,
        size: 100,
        color: "#00000050",
        title: "Github",
    },
    {
        item: IconSql,
        size: 100,
        color: "#D4713150",
        title: "SQL",
    },
    {
        item: Icon,
        name: "tauri",
        size: 90,
        color: "#23C2D450",
        title: "Tauri",
    },
    {
        item: Icon,
        name: "astro",
        size: 90,
        color: "#F7590150",
        title: "Astro",
    },
];

icons = [...icons, ...icons];

// const tecnoClass =
//     "bg-sky-400 " +
//     "[--slider-width: 6000px] [--item-width:300px] [--animation-width: calc(var(--item-width) * -10)]  " +
//     "md:[--item-width:200px; --slider-width: 4000px)] md:[--animation-width: calc(var(--item-width) * -10)] md:[]";

const itemWidth = 300;
const collapsedWidth = 150;

const sliderWidth = icons.length * itemWidth;
const collapsedSliderWidth = icons.length * collapsedWidth;

const animationWidth = icons.length * -itemWidth;
const collapsedAnimationWidth = icons.length * -collapsedWidth;

const tecnoClass = `bg-sky-400 [--item-width:${itemWidth}px] sm:[--item-width:${collapsedWidth}px]`;
---

<section id="technologies">
    <div class="slider">
        <div class="slide-track">
            {
                icons.map((aux) => {
                    if (aux.item === Icon) {
                        <div class="slide" style={`--color-1: ${aux.color};`}>
                            <Icon
                                color={"white"}
                                name={aux.name}
                                size={aux.size}
                                aria-label={aux.title + " Icon"}
                            />
                            <p class="tech__title">{aux.title}</p>
                        </div>;
                    } else {
                        return (
                            <div
                                class="slide"
                                style={`--color-1: ${aux.color};`}
                            >
                                <aux.item
                                    color={"white"}
                                    size={aux.size}
                                    aria-label={aux.title + " Icon"}
                                />
                                <p class="tech__title">{aux.title}</p>
                            </div>
                        );
                    }
                })
            }
        </div>
    </div>
</section>

<style>
    #technologies {
        --animation-speed: 20s;
    }

    .slider {
        background: #13151a;
        height: 200px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 1960px;
    }

    .slider::before,
    .slider::after {
        background: linear-gradient(
            to right,
            #13151a 0%,
            rgb(19, 21, 26, 0) 100%
        );
        content: "";
        height: 200px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    .slider::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll var(--animation-speed) linear infinite;
        display: flex;
        width: calc(250px * 14);
    }

    .slide {
        height: 200px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .tech__title {
        font-size: 1.5rem;
        color: transparent;
    }

    .slide:hover {
        background: var(--color-1);
        background: radial-gradient(
            circle,
            var(--color-1) 10%,
            rgba(255, 255, 255, 0) 50%
        );

        .tech__title {
            color: white;
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 7));
        }
    }
</style>
